<section class="artistinfo">
	<div class="artist cf" ng-model="artists">
		<a href="#/details/{{prevItem}}" class="btn btn-left">&lt;</a>
		<a href="#/details/{{nextItem}}" class="btn btn-right">&gt;</a>
		<h1>{{artists[3].name}}</h1>
		<div class="info">
		 <h3>{{artists[3].reknown}}</h3>
		 <img ng-src="images/{{artists[3].shortname}}_tn.jpg" alt="Photo of {{artists[3].name}}">
		 <div class="bio">{{artists [3].bio}}</div>
		</div>
	</div>
	<a href="index.html">&laquo; Back to Home</a>
</section>
